<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }
        h1 {
            text-align: center;
            margin-top: 50px;
        }
        h2 {
            text-align: center;
            margin-bottom: 30px;
        }
        p {
            margin: 20px;
        }
        ul {
            list-style-type: none;
            padding: 0;
            margin: 20px;
        }
        li {
            background-color: #fff;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            transition: background-color 0.3s ease;
        }
        li:hover {
            background-color: #f0f0f0;
        }
        a {
            text-decoration: none;
            color: #333;
        }
    </style>
</head>
<body>
<h1>Курсова робота з дисципліни "Бази даних" на тему "Вантажо-пасажирський пором"</h1>
<h2>Виконала Петрович Наталія, група ІС-21</h2>
<p>Вантажо-пасажирський пором Чорноморськ - Батумі ходить раз на тиждень і перевозить залізничні вагони; вантажні та легкові автомобілі; пасажирів, у тому числі водіїв автомобілів (біля 120 чоловік). На борт у є двомістні, чотиримісні та шестимісні каюти. Ціни квитків у таких каютах різняться. На дітей до 8 років передбачена знижка 40%. Передбачене попереднє бронювання місць. Продаж квитків відбувається перед посадкою на пором в офісі компанії-перевізника UkrFerry.</p>
<p>При поселенні на поромі реєструються паспортні дані пасажирів, каюта, а також номер столу в ресторані.</p>
<p>Для автомобіля реєструються державна приналежність, марка, номер, скан подорожнього документа (як-от дорожній лист), оплата, водій.</p>
<p>Для паспортного і митного контролю в порту призначення треба видати повні дані по пасажирах і автомобілях.</p>
<h1>Navigation</h1>
<ul>
    <li><a href="/tables">Tables</a></li>

</ul>
</body>
</html>
